<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Web Bank</title>
<link rel="stylesheet" href="/css/design.css" />
</head>
<body>
<h1 class="clsHeaderPartial">Web Bank</h1>
<form class="clsform" id="frmBankLogin" method="post" action="/login">
<article class="clscontainer">
<input id="txtUsername" name="txtUserName" type="text" required placeholder="Username" value=""/>
<br><br>
<input id="txtPassword" name="txtPassword" type="password" required placeholder="Password" value="" />
<br><br>
<button id="btnLogin" type="submit" value="submit">Submit</button>
<br><br>
<a id="Register" href="/register">Register</a>
<br>
<label id="lblMessage">{{message}}</label>
</article>
</form>
</body>
</html>